.btn {
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-background);
  
}

.primary:hover:not(:disabled) {
  background-color: var(--color-primary-dark);
  transform: scale(1.03);
}

.white {
  background-color: #ffffff;
  color: #4F46E5;
  border: 3px solid #ffffff;
  border-radius: 33px;
  font-weight: bold;
}

.white:hover:not(:disabled) {
  background-color: #f3f4f6;
  color: #4F46E5;
  border-color: #f3f4f6;
  transform: scale(1.03);
}


.btn:disabled {
  background-color: var(--color-muted);
  cursor: not-allowed;
}
