.btn {
  padding: 10px 24px;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-base);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.primary {
  background-color: var(--primary-color);
  color: var(--navbar-bg);
}

.primary:hover:not(:disabled) {
  background-color: var(--primary-color-dark);
  transform: scale(1.03);
}

.white {
  background-color: var(--navbar-bg);
  color: var(--primary-color);
  border: 3px solid var(--navbar-bg);
  font-weight: bold;
}

.white:hover:not(:disabled) {
  background-color: #f3f4f6;
  color: var(--primary-color);
  border-color: #f3f4f6;
  transform: scale(1.03);
}

.btn:disabled {
  background-color: var(--color-muted);
  cursor: not-allowed;
}
