.footer {
  background-color: var(--background-gray);
  color: var(--text-medium);
  text-align: center;
  padding: var(--spacing-md) 0;
  font-size: var(--font-sm);
  border-top: 1px solid var(--card-border);
  margin-top: 2.5rem;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .footer {
    font-size: var(--font-xs);
    padding: 1.125rem 0;
  }
}

@media (max-width: 767px) {
  .footer {
    font-size: var(--font-xs);
    padding: 1rem var(--spacing-xs);
    margin-top: 1.875rem;
  }
}
