.loginPage {
  height: 100vh;
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main), sans-serif;
}

.loginContainer {
  background-color: var(--card-bg);
  padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
  border-radius: 1rem;
  width: 100%;
  max-width: 25rem;
  box-shadow: var(--shadow-light);
  text-align: center;
}

.loginTitle {
  font-size: var(--font-2xl);
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: var(--spacing-xs);
}

.loginSubtitle {
  font-size: var(--font-sm);
  color: var(--text-medium);
  margin-bottom: calc(var(--spacing-lg) * 1.3);
}

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.loginForm label {
  font-size: var(--font-xs);
  color: var(--text-color);
  margin-bottom: 0.25rem;
}

.loginForm input {
  padding: var(--spacing-sm);
  margin-bottom: calc(var(--spacing-lg) * 1.25);
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: var(--font-base);
  background-color: #f9fafb;
  outline: none;
  transition: border 0.2s;
}

.loginForm input:focus {
  border-color: var(--primary-color);
}

.registerText {
  text-align: center;
  font-size: var(--font-sm);
  color: var(--text-medium);
  margin-top: var(--spacing-md);
}

.registerText a {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .loginContainer {
    padding: var(--spacing-lg);
    max-width: 22rem;
  }

  .loginTitle {
    font-size: var(--font-xl);
  }

  .loginSubtitle {
    font-size: var(--font-sm);
  }

  .loginForm input {
    font-size: var(--font-base);
  }
}

@media (max-width: 480px) {
  .loginPage {
    padding-inline: var(--spacing-md);
  }

  .loginContainer {
    padding: var(--spacing-md);
    border-radius: var(--spacing-md);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .loginTitle {
    font-size: var(--font-base);
  }

  .loginSubtitle {
    font-size: var(--font-sm);
    margin-bottom: var(--spacing-md);
  }

  .loginForm input {
    font-size: var(--font-sm);
    padding: var(--spacing-sm);
  }

  .loginForm button {
    font-size: var(--font-sm);
    padding: var(--spacing-md);
  }

  .registerText a {
    font-size: var(--font-xs);
  }
}
